<h1>Status of Cucushift steps</h1>


<div id="tabs">
	 <ul>
		<li><a href="#tabs-1">Statistics</a></li>
		<li><a href="#tabs-2">Dry-Run</a></li>
		<li><a href="#tabs-3">Other Stuff</a></li>
	</ul>
<div id="tabs-1">
	<h2>Statistics</h2>
	<ul>
		  <li>All defined steps: <%= @db_for_stats.length %>
		  <li>All Implemented: <%= @to_be_implemented %>
		  <li>All used steps: <%= @db_for_stats.length %>
	</ul>
	<div id="zebra_table">
	<table class="stripeMe">
		<tr><th>Step name</td><th>number of steps used</th><th>rubular</th></tr>
		<%  @db_for_stats.each do |item| %>
		  <tr><td><%= item[:re_value] %></td><td><a href="TODO"> item[:re_used_times]</a> </td><td><a href="http://rubular.com/?regex=<%= item[:re_value] %>">rubular</a></td></tr>
		<% end %>
	</table>
	</div><!-- end zebra_table -->
</div><!-- end tabs-1 -->

<div id="tabs-2">
	<p>Other stuff.</p>
</div><!-- end tabs-2 -->
</div><!-- end tabs -->
<script>
	/*Add tabs to the page*/
	$( "#tabs" ).tabs();

	/*Add zebra striping to the table*/
	$(".stripeMe tr:even").addClass("alt");

	$(".stripeMe tr").mouseover(function() {
		$(this).addClass("over");
	});

	$(".stripeMe tr").mouseout(function() {
		$(this).removeClass("over");
	});

</script>
